In [1]:
abc=["umair","shariq","asim","umair","shahwaiz","sheraz"]
abc.reverse()
print(abc)

['sheraz', 'shahwaiz', 'umair', 'asim', 'shariq', 'umair']

In [4]:
abc1=[1,2,3]
abc2=[4,5]
merge_list=abc1+abc2
print(merge_list)

[1, 2, 3, 4, 5]

In [1]:
#take 5 input from user and  sum odd number
sum=0
for i in range(5):
    user_input=int(input("enter numbers"))
    if user_input%2==1:
        sum=user_input+sum
print("sum odd numbers is:",sum)

sum odd numbers is: 46

In [4]:
#take 5 input form user and identify the max number
numlist=[]
for i in range (5):
    num=int(input("enter an integer"))
    numlist.append(num)
print(numlist)
max_num=max(numlist)
print("max number is:",max_num)
print(numlist.index(max_num)+1)

[1, 3, 4, 3, 6]
max number is: 6
5

In [18]:
# Write a program that finds all integer numbers that divide by 7 and have a remainder of 2 or 3 between two given integers.
first=int(input("enter an integer"))
second=int(input("enter an integer"))
for num in range(first,second+1):
    if num %7==2 or num %7==3:
       print(num)

30
31
37
38
44
45

In [ ]:
#Write a Python program that finds all the divisors of an integer 45.
num=int(input("enter an integer"))
for i in range(1,num+1,1):
    if  num%i==0:
        print(i)

1
3
5
9
15
45

In [30]:
#Write a Python program that prints all even numbers between 1 and 50 .
first=int(input("enter an integer"))
second=int(input("enter an integer"))
for i in range(first,second+1):
  if i%2==0:
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [31]:
#take 5 input and find the count of even and odd
odd=0
even=0
listnum=[]
listnum1=[]
for i in range(5):
    varnum=int(input("enter a number"))
    #listnum.append(varnum)
    if varnum %2==0 and varnum!=0:
        #print("even")
        even=even+1
        listnum.append(varnum)
    elif varnum%2==1:
        #print("odd") 
        odd=odd+1
        listnum1.append(varnum)
#print("enter number",listnum)
print("enter number",listnum)
print("enter number",listnum1)        
print("count of even number is",even)       
print("count of odd number is",odd)

enter number [4, -6]
enter number [1, -3, 7]
count of even number is 2
count of odd number is 3

In [ ]:
#Q4
first=int(input("enter an integer"))
second=int(input("enter an integer"))
sum=0
for i in range(first,second+1,1):
    if i%17!=0:
        sum=sum+i
print("sum b/w number are:",sum)

sum b/w number are: 3521

In [6]:
#Q11
n=int(input("enter a number"))
dic={}
for i in range(1,n+1,1):
    dic[i]=i*i   #to square the value
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [9]:
#Q14
var="w3 resources"
d={}
for i in range(len(var)):
    print(var.count(var[i]))
    d[var[i]]=var.count(var[i])
print(d)

1
1
1
2
2
2
1
1
2
1
2
2
{'w': 1, '3': 1, ' ': 1, 'r': 2, 'e': 2, 's': 2, 'o': 1, 'u': 1, 'c': 1}

In [10]:
#Q0.01
n=int(input("enter a number"))
for i in range(1,n+1):
    print(i,i*i,i*i*i)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

In [19]:
#Q0.5
user_input=int(input("enter numbers"))
for i in range(1,user_input+1):
    
    if i%2==0:
        
        print(i,i*i)

2 4
4 16
6 36
8 64
10 100

In [25]:
#Q 0.6
user_input=int(input("enter an integer"))
for num in range(1,101,1):
        if num%user_input==3:
            print(num)

3
28
53
78

In [3]:
#Q 02
num=int(input("enter a number"))
numstr=str(num)
var=len(numstr)
sum=0
for i in range(var):
    sum=sum+int(numstr[i])
print(sum)

10

In [12]:
#Q 3
user_input=int(input("enter numbers"))
sum=0
for i in range(1,user_input+1):
    sum =sum+i*i
print(sum)

55

In [ ]:
#Q 5 cube of an integer
user_input=int(input("enter a number"))
for i in range(1,user_input+1):
    print(i,i*i*i)

1 1
2 8
3 27
4 64
5 125

In [12]:
#Q 6 sum of odd numbers
user_input=int(input("enter a number"))
sum=0
for i in range(1,6,1):
    if user_input%i==1:
        sum=sum+i
        print(sum)

2
5

In [12]:
# Program to display n terms of natural numbers and their sum

n = int(input("Enter how many terms: "))
total = 0

print("The first", n, "natural numbers are:")

for i in range(1, n+1):
            print(i, end=" ")   # display numbers in one line
            total += i          # add each number to total

        print("\nThe sum of natural numbers up to", n, "is:", total)

IndentationError: unindent does not match any outer indentation level (<string>, line 12)

In [2]:
#factoral of a number
num=int(input("enrter a number"))
fact=1
for i in range(num,0,-1):
    fact=fact*i
print(fact)

120

In [2]:
#Q 14
dic1={'a':200,
      'b':200,
      'c':200
      }
dic2={'b':200,
      'd':200,
      'a':200,
      }
dic3=dic2
for key in dic1.keys():
    if key in dic2.keys():
        dic3[key]=dic1[key]+dic2[key]
    else:
        dic3[key]=dic1[key]
print(dic3)

{'b': 400, 'd': 200, 'a': 400, 'c': 200}

In [10]:
#Q 0.0.0
n=int(input("enter a number"))
for i in range(1,n*4,4):
    print(f"{i},{i+1},{i+2},{i+3}")

1,2,3,4
5,6,7,8
9,10,11,12
13,14,15,16
17,18,19,20

In [27]:
#Q 13
n=5
sum=0
sum_of_series=0
for i in range(n):
    sum=10**i+sum
    print(sum,end="+")
    sum_of_series=sum_of_series+sum

# sum_of_series+=sum

print()
print(sum_of_series)

1+11+111+1111+11111+
12345